In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('adult.csv')
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [5]:
from sklearn.linear_model import LogisticRegression

In [7]:
selcol = df[['age','educational-num','marital-status','relationship','native-country']]

In [8]:
data=pd.get_dummies(selcol,columns=['marital-status','relationship','native-country'])
data.head()

,age,educational-num,marital-status_Divorced,marital-status_Married-AF-spouse,marital-status_Married-civ-spouse,marital-status_Married-spouse-absent,marital-status_Never-married,marital-status_Separated,marital-status_Widowed,relationship_Husband,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,25,7,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,38,9,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,28,12,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,44,10,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,18,10,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [10]:
le.fit(df['income'])

LabelEncoder()

In [11]:
le.classes_

array(['<=50K', '>50K'], dtype=object)

In [12]:
le.transform(['<=50K', '>50K'])

array([0, 1])

In [16]:
df_new = pd.Series(le.transform( df['income'] ) )
df_new.head()

0    0
1    0
2    1
3    1
4    0
dtype: int32

In [17]:
model = LogisticRegression()

In [18]:
model.fit(data,df_new)
pred = model.predict_proba(data)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [19]:
pred[:5]

array([[0.99658728, 0.00341272],
       [0.69842293, 0.30157707],
       [0.47795352, 0.52204648],
       [0.58632021, 0.41367979],
       [0.99090044, 0.00909956]])

In [ ]:
zip(prae)