In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [8]:
# Создаём сэмпл, состоящий из возраста автомобиля, его пробега и количества владельцев
#Предполагается, что чем старше авто, чем больше пробег и количество владельцев, тем ниже цена
n_samples = 1000
age_auto = np.random.choice(30, n_samples) + 5
mileage = np.random.choice(200000, n_samples) + 25000
owners = np.random.choice(5, n_samples) + 2

price = mileage * 10 - 120*age_auto

data = pd.DataFrame({'age_auto': age_auto, 'mileage': mileage, 'owners': owners, 'price': price})
data.head(5)

   age_auto  mileage  owners    price
0        19   192867       6  1926390
1        17   134035       5  1338310
2        29   189762       5  1894140
3        22   110102       6  1098380
4         8   166539       2  1664430

In [9]:
from sklearn.metrics import mean_absolute_error

X = data[['age_auto', 'mileage', 'owners']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['age_auto', 'mileage', 'owners']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [-1.20000000e+02  1.00000000e+01 -3.72556936e-12]
Bias: 2.3283064365386963e-10
Error: 5.3871190175414085e-11

In [10]:
y.median()

1231020.0

In [12]:
X = data[['mileage', 'age_auto']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['mileage', 'age_auto']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [  10. -120.]
Bias: -2.3283064365386963e-10
Error: 6.501795724034309e-11

In [13]:
# Создаем новый признак, отражающий количество пройденных ТО (Чем больше возраст, тем их больше)
data['TO'] = data['mileage'] / data['age_auto']
data.head(5)

   age_auto  mileage  owners    price            TO
0        19   192867       6  1926390  10150.894737
1        17   134035       5  1338310   7884.411765
2        29   189762       5  1894140   6543.517241
3        22   110102       6  1098380   5004.636364
4         8   166539       2  1664430  20817.375000

In [15]:
X = data[['TO']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['TO']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [45.81417838]
Bias: 856689.1362572724
Error: 407792.40354304935