In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [17]:
# Создаём сэмпл, состоящий из возраста автомобиля, его пробега и количества владельцев
#Предполагается, что чем старше авто, чем больше пробег и количество владельцев, тем ниже цена
#8 млн взято из расчета, что при максимальных возрасте и пробеге цена будет 125 тыс.
n_samples = 1000
age_auto = np.random.choice(30, n_samples) + 5
mileage = np.random.choice(200000, n_samples) + 25000
owners = np.random.choice(5, n_samples) + 2

price = 8000000-age_auto*mileage

data = pd.DataFrame({'age_auto': age_auto, 'mileage': mileage, 'owners': owners, 'price': price})
data.head(5)

   age_auto  mileage  owners    price
0        24   210274       3  2953424
1        17    93554       6  6409582
2        23    72657       6  6328889
3        23   219960       3  2940920
4        26   136423       4  4453002

In [18]:
from sklearn.metrics import mean_absolute_error

X = data[['age_auto', 'mileage', 'owners']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['age_auto', 'mileage', 'owners']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [-1.20576108e+05 -1.97355574e+01  1.38892466e+04]
Bias: 10312690.682814898
Error: 362161.2809624927

In [19]:
y.median()

5928080.0

In [20]:
X = data[['mileage', 'age_auto']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['mileage', 'age_auto']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [-1.97230347e+01 -1.20593786e+05]
Bias: 10366617.737144008
Error: 361703.6711904829

In [23]:
# Создаем новый признак, отражающий количество пройденных ТО (Чем больше возраст и пробег, тем их больше)
data['TO'] = data['mileage'] * data['age_auto']/10000
data.head(5)

   age_auto  mileage  owners    price        TO
0        24   210274       3  2953424  504.6576
1        17    93554       6  6409582  159.0418
2        23    72657       6  6328889  167.1111
3        23   219960       3  2940920  505.9080
4        26   136423       4  4453002  354.6998

In [24]:
X = data[['TO']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['TO']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [-10000.]
Bias: 8000000.0
Error: 2.37487256526947e-11

In [ ]:
#Ошибка стала маленькой, по выводу можно сказать, что зависимость стала похожей на линейную, соответственно по количеству ТО можно предположить цену авто